
executing==2.0.1
fastapi==0.104.1


importlib-metadata==6.11.0

jsonschema==4.20.0
jsonschema-specifications==2023.11.2

PyMySQL==1.1.0


requests==2.31.0

SQLAlchemy==2.0.23

uvicorn==0.24.0.post1
validators==0.22.0
